/*charset utf-8*/
body{margin: 0;font-family: '新宋体'，'黑体';}
a:link,a:visited,a:active{color:#6C6C6C;text-decoration:none;}a:hover{text-decoration: underline;}
#main{width: 1024px;height: 630px;margin: 0 auto;background-color: #FFFFFF;}
#header{width: 1024px;float:left;color:#3E96D6;border-bottom:4px solid #EEEEEE;}
#context{width: 1024px;float:left;margin: 5px 0px 0px 0px;}
#context .Cleft{width: 200px;height: 500px;float: left;font-size: 20px;font-weight:bold;border:1px solid #EEEEEE;}
#context .Cleft ul{margin: 10px 0px 0px 0px;padding: 0;}
#context .Cleft ul li{width:150px;height:30px;line-height:30px;float:left;list-style: none;margin: 10px 0px 0px 0px;padding:0px 0px 0px 50px;border-bottom: 1px solid #EEEEEE;}
#context .Cright{width: 800px;float: right;margin: 10px 0px 0px 0px;border-right: 1px solid #EEEEEE;}
#context #login{width: 300px;height: 150px;margin: 150px auto 0px auto;background-color:#EEEEEE;border: 1px solid #6C6C6C;}
#context #login .top{width: 300px;height: 25px;line-height: 25px;font-size:14px;font-weight: bold;color:#6c6c6c;border-bottom: 1px solid #6C6C6C;}
#context #login .text{width: 300px;text-align: center;margin: 15px 0px 0px 0px;}
#context #login .text .buttom{width: 300px;margin: 10px 0px 0px 0px;}
#context #loading{width: 300px;height: 100px;margin: 150px auto 0px auto;display: none;text-align: center;font-size: 13px;padding-top: 50px;}
#footer{width: 1024px;float: left;margin: 10px 0px 0px 0px;font-family: arial;font-size: 13px;color: #6C6C60;text-align: center;border-top: 1px solid #EEEEEE;padding: 5px 0px 0px 0px;}